@charset "UTF-8";
.hero {
  background: url("http://images7.alphacoders.com/330/330811.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }

  .row {
    max-width: 1200px; }

    .footer {
      background-color: #292c2f;
      text-align: center;
      font-size: 1.2rem;
      padding: 1rem; }
      .footer .social a {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 1.5rem;
        color: #fff;
        
